@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?11p1xn");
  src: url("../fonts/icomoon/icomoon.eot?11p1xn#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?11p1xn") format("truetype"), url("../fonts/icomoon/icomoon.svg?11p1xn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
